<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中信云联管理系统</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--引入include-->
    <div th:replace="~{commons/include::include}"></div>

    <link href="css/login.css" th:href="@{/css/login.css}" rel="stylesheet">
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
    <script type="text/javascript" src="js/login.js" th:src="@{/js/login.js}"></script>
     <script>
        if (window.top !== window.self) {
            window.top.location = window.location;
        }
    </script>
</head>
<body class="signin">
    <div class="signinpanel" style="margin: 0 auto;">
        <div class="middle-box text-center loginscreen  animated fadeInDown">
            <div>
                <div>

                    <h1 class="logo-name1">H+</h1>

                </div>
                <h3>欢迎使用 H+</h3>

                <div class="m-t">
                    <div class="form-group">
                        <input id="username" type="text" style="color: black" class="form-control" placeholder="用户名" required value="admin">
                    </div>
                    <span style="font-size:14px;color:red;" id="loginname_message"></span>
                    <div class="form-group">
                        <input id="password" type="password" style="color: black" class="form-control" placeholder="密码" required value="123456">
                    </div>
                    <button id="login" class="btn btn-primary block full-width m-b">登 录</button>


                    <p class="text-muted text-center"> <a href="login.html" th:href="@{/login.html}"><small>忘记密码了？</small></a> | <a href="regist" th:href="@{/regist}">注册一个新账号</a>
                    </p>

                </div>
            </div>
         </div>
    </div>
</body>
</html>